<!DOCTYPE html>
<html>
<head>
    <title>air-photobooth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h2>Download</h2>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" class="login-form">
            <div class="form-group">
                <input type="password" name="download_password" placeholder="Enter download password" required>
            </div>
            <button type="submit">Download all photos</button>
        </form>
        
    </div>
</body>
</html>
